div {
  width: 90%;
  max-width: 50rem;
  height: 80%;
  min-height: 5rem;
  background: rgba(17, 19, 49, 0.9);
  margin: 0 auto;
  box-shadow: -3px 0 3px -3px black,
              0 3px 3px -3px black,
              3px 0 3px -3px black;
  border-radius: 5px;
  padding: 1rem;
}